*{
    box-sizing: border-box;
}

.container{
    display: flex;
    /* flex-direction: column; */
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
    font-family: "Gill Sans", sans-serif;
}

header{
    display:flex;
    align-items: center;
    padding-left:10px;
    height:10vh;
    width:100vw;
    background: black;
    color:#ffc;
   
}

footer{
    text-align: center;
    height:10vh;
    width:100vw;
    border-top:1px solid #999;
}
.panel{
    border:1px solid rgb(230,230,230);
    background: rgb(252,252,252);
    padding:10px 10px 30px 10px;
    margin:10px;
    /* width:95%; */
    overflow: hidden;
    width:400px;
    /* min-width:660px; */
    /* max-width:660px; */
}

.photo{
    border-radius: 50%;
}



.main{
    float:right;
    width:80%;
    margin-right:10px;
    overflow: hidden;
   

}

.main_header,.content{
    width:100%;
}

/* main header */
.main_header ul{
    list-style: none;
    margin:5px 0;
    padding:0;
    width:50%;

}
.toolbar{
    width:120px;
    float:right;
    position:relative;
    top:-40px;
    text-align: right;
}

.toolbar:hover .dropdown-content{
    display: block;
}
.dropdown-content{ 
   
    display: none;
    width:100%;
    border:1px solid #999;
    background:  rgba(252,252,252,0.7);
    color:green;
    text-align: center;
    position: absolute;
    left:58px;
    top:30px;
    z-index: 5;

}
.dropdown-content::after{
    content:"";
    border:5px solid #333;
    position: absolute;
    bottom: 100%;
    margin-left:-5px;
    border-color:transparent transparent #333 transparent;

}
.dropdown-content li{
    font-size:0.8em;
    padding:3px;
    border-bottom:1px solid #999;
    cursor: pointer;
}
.dropdown-content li:hover{
    background: #ffc;
}
.dropdown-content li:last-child{
    border:none;
}
.person_info li:first-child{
    color:green;
    font-weight: 200;
}

.person_info li:last-child{
    color:#888;
    font-size:10px;
}

/* main header end */

/* main content */
.main h1{
    color:rgb(88,100,126);
    font-size:20px;
    font-weight:500;
    display: inline;
}
.fine{
    height: 10px;
    width: 10px;
    font-size: 12px;
    margin: 0px 5px 3px 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding:3px 3px 3px 3px;
    border-radius:3px;
    color: #fff;
    background-color: red;
}
input{
    height: 32px;
}
.content{
    font-size:14px;
    color:rgb(116,116,116);
}
/* main content end */

/* main buttons */
.buttons{
    color:green;
}
.buttons div{
    display: inline-block;
    cursor: pointer;
}
.buttons img{
    width:35%;
    position: relative;
    top:4px;
}
/* main buttons end */

.error{
    color:red;
    font-size:20px;

}

.panel-no{
    display: none;
}